.list-todo-container {
    .add-todo {

    }

    button {
        cursor: pointer;
    }

    .list-todo-content {
        width: 400px;
        margin: 0 auto;
        .todo-child {
            &:first-child {
                border-top: 1px solid gray;
            }
            height: 40px;
            border-bottom: 1px solid gray;
            margin: 10px;

            .delete {
                margin: 0 10px;
            }

            .edit {
                margin: 0 10px;
            }
        }
    }
}